.introducao-bg {
  background: var(--cor-12) url("../../img/dec/bottom-left.svg") no-repeat bottom 160px left 20px;
  box-shadow: inset 0 -120px var(--cor-0);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

/* Ajustes na imagem */
.introducao img {
  width: 100%; /* A imagem ocupa 100% da largura do container */
  height: auto; /* Mantém a proporção correta da imagem */
  object-fit: cover; /* A imagem cobre o espaço sem distorção */
  border-radius: 4px;
}

.introducao h1 {
  margin-bottom: 32px;
}

.introducao p {
  margin-bottom: 20px;
}

/* Media Queries para dispositivos móveis */
@media (max-width: 800px) {
  .introducao-bg {
    background: var(--cor-11);
    padding-top: 40px;
    box-shadow: inset 0 -60px #ffffff;
  }
  
  .introducao {
    grid-template-columns: 1fr; /* Muda para uma coluna em dispositivos móveis */
    gap: 32px; /* Ajusta o espaçamento entre os elementos */
  }

  .introducao-conteudo {
    padding-bottom: 0px; /* Remove o padding inferior */
  }

  .introducao h1 {
    margin-bottom: 16px; /* Reduz a margem inferior */
  }

  .introducao img {
    height: auto; /* Remove a altura fixa e mantém a proporção */
    width: 100%; /* A imagem continua a ocupar 100% da largura */
  }
}
